
.icon-back{
    display: inline-block;
    font-size: 25px;
    vertical-align: bottom;
    margin-right: 10px;
}

.title-bar{
    display: inline-block;
    margin: 0px;
}

.item{
    margin-right: 18px;
}

.slide{
    padding-top: 40px;
    padding-bottom: 40px;
}

.slides{
    background: darkslategray !important;
    color: white !important;
}